<h1>New Option</h1>
<%= form_for [@question, @option] do |o| %>
  <div class="wrap-input100 validate-input m-b-18">
    <%= o.label :content, class: "label-input100" %>
    <%= o.text_field :content, class: "input100"%>
    <%= o.text_field :isTrue, class: "form-check-input", type: "checkbox"%>
    <%= o.hidden_field :question_id, value: params[:question_id].to_s %>
  </div>
  <div class="container-login100-form-btn">
    <button class="login100-form-btn">
      Create
    </button>
  </div>
<%end%>
<%= render 'form', option: @option %>
<%= link_to 'Back', question_options_path %>
