<!DOCTYPE HTML>
<html>
<head>
<title>Study  A Education category Flat bootstrap Responsive  Website Template | Home :: w3layouts</title>

<%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<%# <script src="js/jquery-1.11.0.min.js"></script> %>
<%# a %>
<%# <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--Google Fonts-->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script> %>
<!-- //end-smoth-scrolling -->
<%# <script src="js/menu_jquery.js"></script> %>
</head>
<body>
<!--header start here-->
<div class="header">
	<div class="container">
		 <div class="header-main">
				<!---->
					<div class="header-logo">
						<div class="logo">
						<a href="index.html">
                            <%= image_tag("lo1.png") %>
                        </a>
						</div>
						<div class="top-nav">
							<span class="icon"><%= image_tag("menu.png") %> </span>
							<ul>
								<li ><a href="index.html">Home</a> </li>
								<li ><a href="about.html" >About  </a> </li>
								<li><a href="typo.html"  >Short Codes</a></li>
								<li><a href="galley.html" >Gallery</a></li>
								<li><a href="contact.html" >Contact </a></li>
							</ul>
							<!--script-->
						<!-- <script>
										$("span.icon").click(function(){
											$(".top-nav ul").slideToggle(500, function(){
											});
										});
														</script>	 -->			
				</div>
				<div class="clearfix"> </div>
					</div>
			<!---->
			<div class="top-menu">					
					<ul>
						<li ><a href="index.html" >Home</a> </li>
						<li ><a href="about.html">About  </a> </li>
						<li><a href="typo.html">Short Codes</a></li>
						<li><a href="index.html"> <%= image_tag("lo1.png") %> </a></li>
						<li><a href="galley.html">Gallery </a></li>
						<li><a href="contact.html">Contact</a></li>
						<li><div class="header-login">
									 <div class="top-nav-right">
										<div id="loginContainer"> <a href="#" id="loginButton"><span>Xin Chào Admin</span></a>
											    <div id="loginBox">                
									        	</div>
									  </div>
								   </div>
		                         </div>
		                </li>
					</ul>
				</div>
					<!--script-->
			<div class="bann-bottom">
				<h1>Nemo voluptatem quia voluptas</h1>
				<p>Porro Neque quisquam dolorem ipsum </p>
				<div class="bann-main">
					<div class="col-md-4 bann-grid">
						<%= image_tag("i1.png") %>
						<h4>Porro Neque</h4>
					</div>
					<div class="col-md-4 bann-grid">
							<%= image_tag("i2.png") %>
						<h4>Porro Neque</h4>
					</div>
					<div class="col-md-4 bann-grid">
							<%= image_tag("i3.png") %>
						<h4>Porro Neque</h4>
				</div>
				<div class="clearfix"> </div>
			</div>
		 </div>
	 </div>
   </div>
</div>
<!--header end here-->
<!--baner-info start here-->
<div class="banner-info">
	<div class="container">
		<div class="banner-info-main">
			<div class="col-md-6 bann-info-left">
				<p>Category old</p>
			</div>
			<div class="col-md-6 bann-info-left">
				<p>Category new</p>
			</div>
		  <div class="clearfix"> </div>
		</div>
		<div class="bann-info-btn"><a href="single.html" class="hvr-bounce-to-right">Read More</a></div>
	</div>
</div>
<!--banner-info end here-->
<!--testimonal start here-->
<div class="testimonal">
	<div class="container">
		<div class="testimonal-main">
			 <h2>Nor again anyone who loves  pursues desires</h2>
			 <a href="single.html" class="hvr-bounce-to-right  testimo-btn">Read More</a>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--testimonal end here-->
<!--copyright end here-->
</body>
</html>